.source-selector {
  flex: 2;
  border-left: 2px solid $divider;
}

.source-selector ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.source-selector__list-elem {
  list-style-type: none;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $divider;
  text-align: center;
}

.source-selector__list-elem:last-child {
  border-bottom: none;
}

// Active Source
.source--active {
  background: $light-primary;
}
