// Colors
$dark-primary: #0288D1;
$primary: #03A9F4;
$light-primary: #B3E5FC;
$text-on-dark: #fff;
$text-on-light: #212121;
$text-on-light-alt: #757575;
$divider: #bdbdbd;

// Spacing
$s-size: 1rem;
$m-size: 1.5rem;
$l-size: 3rem;
$xl-size: 6rem;
